<!-- sessions/new -->

<div class="sign-in-form">
<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">

		<%= form_auth_token %>
	
		<div class="input">
			<label for="sign-in-email">email</label>
			<input type="text" name="user[email]" id="sign-in-email">
		</div>


		<div class="input">
			<label for="sign-in-password">password</label>
			<input type="text" name="user[password]" id="sign-in-password">
		</div>
		
		<div class="sign-in-buttons">
			<ul>
				<li><input type="submit" value="Sign In"></li>
				<li><%= link_to "Create account", new_user_url %></li>
				<div class="clear-fix"></div>
			</ul>
			<div class="cancel-button">
				<%= link_to "cancel", housing_posts_url %>
			</div>
		</div>
		<button>
			DEMO USER
		</button>
</form>
</div>




<script>
	$(function(){
		$("button").on('click', function(event){
			event.preventDefault();
			$("#sign-in-email").val("paris@email.com");
			$("#sign-in-password").val("password");
		});
	});
</script>