<!-- sessions/new -->

<div class="sign-in-form">
<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">

		<%= form_auth_token %>
	
		<div class="input">
			<label for="sign-in-email">email</label>
			<input type="text" name="user[email]" id="sign-in-email">
		</div>


		<div class="input">
			<label for="sign-in-password">password</label>
			<input type="text" name="user[password]">
		</div>
		
		<div class="sign-in-buttons">
			<ul>
				<li><input type="submit" value="Sign In"></li>
				<li><%= link_to "or Create account", new_user_url %></li>
			</ul>
		</div>
		
</form>
</div>
