<!-- sale/edit -->

<h3>edit sale post</h3>
<form action="<%= sale_post_url(@post) %>" method="post" encrypt="multipart/form-data">
	
	<%= render partial: "form" %>
	
	
	<input type="hidden" name="_method" value="put">
	<div class="form-buttons">
		<%= link_to "cancel", root_url %> | <input type="submit" value="publish">
	</div>
</form>