<!-- sale/new -->
<h3>new sale post</h3>

<form action="<%= sale_posts_url %>" method="post" enctype="multipart/form-data">
	
	<%= render partial: "form" %>


	<div class="form-buttons">
		<%= link_to "cancel", root_url %> | <input type="submit" value="publish">
	</div>
</form>