
<div class="user-nav-tabs">
	<ul>
		<li class="listings-tab"><%= link_to "Listings by You", user_listings_url %></li>
		<li class="watchlist-tab"><%= link_to "Watch List", user_watchlist_url %></li>
		<div class="clear-fix"></div>
	</ul>
</div>

<script>
$(document).ready(function () {
	
	$(".listings-tab").on("click", function(event) {
		$(".user-nav-tab").addClass("show-listings");
		console.log($(".user-nav-tab"));
	});
	
	$(".watchlist-tab").on("click", function(event) {
		$(".user-nav-tab").removeClass("show-listings");
		console.log($(".user-nav-tab"));
	});
	
});
</script>