<div class="user-nav-tabs show-listings">
	<ul>
		<li class="listings-tab"><%= link_to "Listings by You", user_listings_url %></li>
		<li class="watchlist-tab"><%= link_to "Watch List", user_watchlist_url %></li>
		<div class="clear-fix"></div>
	</ul>
</div>



<% if @posts.count > 0 %>
	<%= render partial: "listings_table" %>
<% else %>
	<div class="user-table-empty">
		<h1>You haven't posted anything yet.</h1>
		<div class="find-link">
			<%= link_to "Post Listings!", new_housing_post_url %>
		</div>
	</div>
<% end  %>
