<!-- users/new -->

<h1>Create Account</h1>

<form action="<%= users_url %>" method="post">
	
		<input type="text" name="user[email]" placeholder="email">

		<br>

		<input type="text" name="user[password]" placeholder="password">

	<p><input type="submit" value="Create Account"></p>
</form>

<br>

<%= link_to "Sign In", new_session_url %>