<div class="users-container">
	
	<h1>Hello <%= link_to current_user.username || current_user.email, edit_user_url(current_user) %>!</h1>
	
	<%= render partial: "user_nav_tabs" %>
	
	<div clas="user-listings-table">
		<%= render partial: "listings_table" %>
	</div>
	
</div>