<div class="user-nav-tabs">
	<ul>
		<% if current_user.broker %>
			<li class="listings-tab"><%= link_to "Listings by You", user_listings_url %></li>
		<% end %>
		<li class="watchlist-tab"><%= link_to "Watch List", user_watchlist_url %></li>
		<div class="clear-fix"></div>
	</ul>
</div>

<% if @watches.count > 0 %>
	<%= render partial: "watchlist_table" %>
<% else %>
	<div class="user-table-empty">
		<h1>You're not watching anything yet.</h1>
		<div class="find-link">
			<%= link_to "Search Listings!", housing_posts_url %>
		</div>
	</div>
<% end  %>
