<!-- housing_posts/edit -->

<h2>create a new housing post</h2>

<form action="<%= housing_post_url(@post) %>" method="post">
	
	<%= render partial: "form" %>
	
	<input type="hidden" name="_method" value="put">
	<p><input type="submit" value="save changes"></p>
</form>