<!-- housing_posts/new -->

<h2>create a new housing post</h2>

<form action="<%= housing_posts_url %>" method="post">
	
	<%= render partial: "form" %>
	
	<p><input type="submit" value="publish"></p>
</form>