/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, header, footer, div,
strong, a, img, p, h1, h2, h3, time, ul, li,
form, label, table, thead, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

ul {
	list-style: none;
}

strong {
	font-weight: bold;
}

input[type="text"],
button,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: inline-block;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
	color: inherit;
}

.clear-fix {
	clear: both;
}

header {
	width: 1000px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 1px;
	border-bottom: 1px solid #000;
}

header > .home-button {
	float: left;
	padding-left: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

header > ul {
	float: right;
	padding-right: 10px;
}

header > ul > li {
	float: left;
	margin-left: 10px;
}

footer {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0 40px 0;
	border-top: 1px solid #000;
}

.copy {
	float: left;
	margin-top: 5px;
	padding-left: 30px;
}

footer ul {
	padding-right: 50px;
	margin-top: 5px;
	float: right;
}

footer li {
	padding-left: 20px;
	float: left;
}

input[type="submit"] {
	webkit-appearance: none;
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	font: inherit;
	vertical-align: baseline;
	display: inline-block;
	cursor: pointer;
}

/* START INTROS STYLING */

.home-page-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background: image-url("logo.png") no-repeat 50% 70px;
	background-size: 500px 500px;
}


.home-page-title {
	position: fixed;
	left: 70%;
	top: 20px;
	background: transparent;
	padding: 20px;
	border-top: 100px solid #fff;
	border-bottom: 100px solid #fff;
	padding-right: 120px;
	
}

.home-page-title h1 {
	text-align: right;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-weight: bold;
	font-size: 48px;
}

.slash {
	-webkit-transform:rotate(55deg);
	padding: 60px 0;
	width: 340px;
	margin-top: 160px;
	margin-left: 68%;
	background: rgba(255, 67, 255, 1);
}

.frame {
	background: transparent;
}
.intro-select-user-type {
	width: 500px;
	margin: 200px auto 80px auto;
	text-align: center;
}

.intro-select-user-type p {
	font-size: 20px;
}

.skip-button {
	position: relative;
	float: right;
	margin-right: 100px;
	width: 75px;
	font-size: 20px;
}

.skip-button a {
	padding: 5px 20px;
	display: block;
	border-radius: 3px;
}

.skip-button a:hover {
	background: #FFA8EF;
}
.sign-in {
	font-size: 20px;
	width: 100px;
	margin: 0 auto;
}
.sign-in a {
	display: block;
	border-radius: 4px;
	padding: 10px;
	width: 100px;
}

.sign-in a:hover {
	background: #99FFB4;
}

.user-type-searcher,
.user-type-poster {
	width: 210px;
	float: left;
	padding: 30px 0 30px 0;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin: 20px;
}

.user-type-searcher a,
.user-type-poster a {
	padding: 15px;
	border-radius: 4px;
}

.user-type-searcher a:hover,
.user-type-poster a:hover {
	background: #7AF8FF;
}

.ask-to-sign-in {
	width: 250px;
	height: 100px;
	padding: 25px;
	border: 2px solid #000;
	border-radius: 5px;
	background: rgba(255, 151, 44, 0.8);
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 100px;
	left: 1000px;
}

.ask-to-sign-in p {
	padding-bottom: 25px;
}

.ask-to-sign-in a {
	display: inline-block;
	padding: 5px;
	font-weight: bold;
	border: 2px solid #000;
	border-radius: 5px;
}

.home-page-logo {
	float:left;
}

.home-page-logo img {
	display: block;
	width: 500px;
	height: 500px;
	
}

/* START INTROS SEARCH FORM */

.intros-search-form {
	width: 700px;
	margin: 100px auto;
	text-align: center;
}

.intros-search-form p {
	font-size: 20px;
	margin: 20px;
}

.intros-search-form label {
	font-weight: 600;
}

.go-button {
	width: 75px;
	font-size: 25px;
	margin: 30px auto;
}

.go-button input[type="submit"] {
	padding: 5px 20px;
}

.go-button input[type="submit"]:hover {
	background: #99FFB4;
}

/* STRAT POST SHOW STYLING */
img {
	display: block;
	margin: auto;
}

.current-path {
	width: 1000px;
	margin: 20px auto 0 auto;
}

.category-details {
	float: left;
}

.post-show-buttons {
	width: 120px;
	float: right;
	font-weight: bold;
}

.unwatch-post-button,
.show-watch .watch-post-button {
	display: block;
}

.watch-post-button,
.show-watch .unwatch-post-button {
	display: none;
}

.post-alt-view-buttons {
	float: right;
}


.container {
	width: 1000px;
	height: 480px;
	margin: 30px auto;
}

.users-container {
	width: 1000px;
	height: 500px;
	margin: 30px auto;
}

.form-container {
	width: 1000px;
	margin: 30px auto;
}

.form-container label {
	display: block;
}

.form-container input[type="text"] {
	display: block;
	border: 1px solid #000;
	border-radius: 2px;
	padding: 5px 10px;
}

.contact-info-show {
	float: left;
	width: 220px;
	padding-right: 29px;
	height: 480px;
	border-right: 1px solid #000;
}

.contact-info-show h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 5px 0; 
}

.post-show-body {
	height: 350px;
	overflow: scroll;
}

.details-show {
	height: 480px;
	float: left;
	width: 220px;
	padding-left: 29px;
	border-left: 1px solid #000;
}

.details-show h1 {
	font-weight: bold;
	font-size: 14px;
	margin: 10px 0 5px 0; 
}

.details-show table {
	border-collapse: collapse;
	margin: 10px 0 15px 0;
}

.details-show th {
	font-weight: 500;
	padding: 0 20px 10px 0;
	text-align: left;
	display: table-cell;
}

.details-show td {
	padding-right: 15px;
}

.fees {
	margin: 20px 0;
}


.fees strong {
	font-weight: bold;
}

.photos-show {
	position: relative;
	float: left;
	width: 500px;
	height: 480px;
}

.post-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto 5px auto;
}

.main-photo-container {
}

.thumbnail-container {
	position: absolute;
	top: 370px;
	left: 50px;
	width: 400px;
}

.thumbnail {
	position: relative;
	float: left;
	margin: 15px;
}

.thumbnail:hover {
	border: 2px solid #000;
	top: -2px;
	left: -2px;
	margin-right: 11px;
	margin-bottom: 11px;
}

.hidden-pic {
	display: none;
}

/* HOUSING POST NEW/EDIT */

.form-header {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 30px;
}

.contact-info-form .input,
.title-category .input {
	float: left;
	padding: 5px 15px 0 0;
}

.contact-info-form input[type="text"] {
	width: 200px;
	border: 1px solid #000;
	border-radius: 2px;
	padding: 5px 10px;
}

.title-category {
	padding-top: 20px;
}

.title-category input[type="text"] {
	width: 500px;
}

.select-category {
	padding-top: 5px;
	float: left;
}

.select-category select {
	display: block;
}

.select-category label {
	padding-bottom: 5px;
}


.location {
	padding-top: 20px;
}

#input-specific-location {
	padding: 5px 10px;
	width: 250px;
}

#zip-code-input {
	padding: 5px 10px;
	width: 50px;
}

.select-region label{
	padding-top: 5px;
	padding-bottom: 5px;
}

.location .input {
	float: left;
	padding: 5px 15px 0 0;
}


.housing-poster-info {
	padding-top: 20px;
}

.housing-poster-info .input {
	float: left;
	padding: 20px 0 0 0;
}

.housing-poster-info label {
	display: block;
}

.housing-poster-info input[type="text"] {
	border: 1px solid #000;
	border-radius: 2px;
	padding: 5px 10px;
	width: 700px;
}

.select-lister-type {
	float: left;
	padding: 20px;
}
.select-lister-type > label {
	display: block;
	padding-bottom: 5px;
}

.form-body {
	float: left;
	padding-right: 30px;
}

.form-body > label {
	display: block;
	padding: 15px 0 5px 0;
}

.form-body > textarea {
	display: block;
	float: left;
	padding: 5px 10px;
	border: 1px solid #000;
	border-radius: 2px;
	width: 500px;
	height: 170px;
}

.space-details {
	width: 260px;
	float: left;
	padding-top: 20px;
}

.space-details .input {
	float: left;
	padding: 0 15px 10px 0;
}

.space-details input[type="text"] {
	width: 60px;
}

.other-options {
	float: left;
	padding-right: 500px;
}
.other-options .input {
	float: left;
	padding: 15px 25px 0 0;
}

.map-info-form {
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
}

.map-info-form .input{
	float: left;
	padding-right: 15px;
}

.image-upload-section {
	padding-top: 30px;
}

.image-upload-section label {
	padding-bottom: 5px;
}

.input-state input[type="text"] {
	width: 40px;
}

.input-street input[type="text"] {
	width: 300px;
}

.form-buttons {
	float: right;
	padding: 40px 60px 30px 0;
}

.form-buttons li {
	float: left;
}

.form-buttons input[type="submit"] {
	display: block;
	background: rgba(255, 151, 44, 0.8);
	padding: 10px 15px;
	border-radius: 3px;
}

.form-buttons a {
	padding: 10px 15px;
	display: block;
}

.post-show-buttons button {
	float: right;
}


/* USER LISTINGS TABLE */

.users-container table {
	border-collapse: collapse;
	margin-top: 20px;
}

.users-container h1 {
	padding-bottom: 20px	;
}

.users-container th {
	font-weight: bold;
	text-align: left;
	padding: 10px;
	margin-left: 10px;
	border-bottom: 1px solid #ccc;
}

.users-container td {
	text-align: left;
	padding: 10px 15px 0 10px;
	border-bottom: 1px solid #ccc;
}

.manage-buttons > ul > li {
	float: left;
	padding-right: 10px;
}

.non-user-password-input {
	float: left;
}

.non-user-password-input p {
	font-weight: bold;
	padding: 10px 0 20px 0;
}

.non-user-password-input label {
	padding-bottom: 5px;
}

.list-thumbnail {
	position: relative;
	float: left;
	margin: 5px;
}

.list-thumbnail:hover {
	border: 2px solid #000;
	top: -2px;
	left: -2px;
	margin-right: 1px;
	margin-bottom: 1px;
}

.user-table-empty {
	width: 300px;
	margin: 80px auto;
}

.user-table-empty h1 {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.find-link {
	width: 150px;
	position: relative;
	margin: auto;
}

.find-link a {
	display: inline-block;
	margin: auto;
	text-align: center;
	padding: 10px;
	background: rgba(29, 205, 250, 0.8);
	border-radius: 3px;
	
}

/* SIGN IN AND NEW USER */

.sign-in-form {
	width: 250px;
	height: 300px;
	margin: 200px auto;
}

.sign-in-form label {
	padding: 10px 0 5px 0;
	display: block;
}

.sign-in-form input[type="text"] {
	width: 200px;
	border: 1px solid #000;
	border-radius: 2px;
	padding: 5px 10px;
}

.sign-in-form h1 {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
}

.sign-in-buttons {
	padding-top: 15px;
}
.sign-in-buttons >ul > li {
	float: left;
	margin-right: 10px;
}

.sign-in-buttons input[type="submit"] {
	display: block;
	padding: 10px 15px;
	border-radius: 5px;
	background: #99FFB4;
}

.sign-in-buttons a {
	display: block;
	padding: 10px;
}

.sign-in-buttons a:hover {
	color: #08f;
	background: #ccc;
	border-radius: 3px;
}

.cancel-button {
	text-align: center;
	margin-top: 20px auto;
}

.cancel-button a {
	margin-top: 10px;
	display: inline-block;
	padding: 10px 15px;
}

.cancel-button a:hover {
	color: #f00;
	background: #ccc;
	border-radius: 3px;
}

/* POST INDEX LIST */

.index-container {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	overflow:scroll;
}

.post-list {
	font-size: 18px;
	padding: 50px;
}

.post-list li {
	padding-bottom: 15px;
}

.post-list .rent-beds {
	display: inline-block;
	padding: 0 5px 0 5px;
	background: lightpink;
	margin-right: 10px;
}

.post-list .list-region {
	padding-right: 10px;
}

/* SEARCH BAR */

.search-bar {
	width: 1000px;
	margin: auto;
	padding-top: 10px;
}

.search-bar .input {
	float: left;
	padding-left: 10px;
}

.search-bar input[type="text"] {
	padding: 5px 10px;
	border: 1px solid #000;
	border-radius: 2px;
}

.search-bar label {
	display: block;
}

.search-bar input[type="checkbox"] {
	display: block;
	margin: auto;
}

#search-input {
	width: 200px;
}

#min-input,
#max-input {
	width: 40px;
}

.search-bar input[type="submit"] {
	padding: 5px 15px 10px 15px;
	border-radius: 3px;
	background: #99FFB4;
	position: relative;
	top: 8px;
}

.search-bar .search-checkboxes {
	padding-left: 10px;
}

.search-bar .search-fields {
	padding-top: 10px;
	float: left;
}

.search-checkboxes .input {
	padding-left: 15px;
}

.search-bar label {
	padding-bottom: 5px;
}

.search-bar .search-alt-view-buttons {
	padding-top: 20px;
	padding-left: 10px;
}

.search-bar .search-alt-view-buttons > ul {
	display: block;
	border-left: 1px solid #000;
}

.search-bar .search-alt-view-buttons > ul > li {
	float: left;
	border-right: 1px solid #000;
}

.search-bar .search-alt-view-buttons > ul a {
	font-size: 18px;
	padding: 5px 15px 5px 15px;
}

/* MAPS INDEX */

.popup {
    text-align: center;
}
.popup .slideshow {
    width: 100%;
}
.popup .slideshow .image {
    display: none;
}
.popup .slideshow .active {
    display: block;
}
.popup .slideshow img {
    width: 100%;
}
.popup .slideshow .caption {
    background: #eee;
    padding: 8px;
}
.popup .cycle {
    height: 30px;
    margin-top: 5px;
    padding-top: 5px;
}
.popup .cycle a.prev {
    float: left;
}
.popup .cycle a.next {
    float: right;
}

/* EDIT USER FORM */

.edit-user-form {
	width: 200px;
	padding: 100px 0;
	margin: 0 auto;
}

.edit-user-form label {
	padding: 15px 0 5px 0;
}

.edit-user-form h1 {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.edit-user-form input[type="text"] {
	width: 200px;
	border: 1px solid #000;
	border-radius: 2px;
	padding: 5px 10px;
}

.edit-user-form a {
	margin-left: 15px;
}

/* USER NAV TABS */

.user-nav-tabs {
	width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid #000;
}

.listings-tab, .watchlist-tab {
	display: block;
	float: left;
	position: relative;
	top: 1px;
	background: #fff;
	margin: 0 15px 0 15px;
	border-radius: 5px 5px 0 0;
}

.listings-tab {
	border: 1px solid #000;
}

.watchlist-tab {
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #fff;
}

.user-nav-tabs a {
	display: block;
	padding: 10px;
}

.show-listings .listings-tab {
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #fff;
}

.show-listings .watchlist-tab {
	border: 1px solid #000;
}

.user-show-title {
	padding-left: 10px;
	padding-bottom: 25px;
}

.user-show-title h1 {
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 5px;
}

.user-show-title p {
	float: left;
	
}

.user-show-title a {
	display: block;
	padding: 5px;
	color: #999;
	border-radius: 3px;
}

.user-show-title a:hover {
	color: #444;
	background: #ccc;
}

/* NEW BROKER FORM */

.new-broker-form {
	width: 500px;
	margin: 100px auto;
}

.new-broker-form h1 {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 15px;
}

.new-broker-form p {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 18px;
	padding-bottom: 10px;
}

.new-broker-form label {
	padding: 15px 0 5px 0;
}

.new-broker-form input[type="text"] {
	width: 300px;
}

/* Modal Sign In */
.has-active-modal .modal {
  display: block;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  min-height: 200px;

  padding: 30px;

  margin-top: -200px;
  margin-left: -230px;

  background: #fff;
}

.modal-close-button {
  position: absolute;
  display: block;
  top: 0;
  right: 10px;
  font-size: 40px;
  line-height: 1.0;
  font-weight: bold;
  color: #999;
  cursor: pointer;
}

.modal-close-button:hover {
  color: #000;
}

.errors {
	text-align: center;
}