/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, header, footer, div,
strong, a, img, p, h1, h2, h3, time, ul, li,
form, label, table, thead, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

ul {
	list-style: none;
}

input[type="text"],
button,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: inline-block;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
	color: inherit;
}

.clear-fix {
	clear: both;
}

header {
	width: 1000px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 1px;
	border-bottom: 1px solid #000;
}

header > .home-button {
	float: left;
	padding-left: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

header > ul {
	float: right;
	padding-right: 10px;
}

header > ul > li {
	float: left;
	margin-left: 10px;
}

footer {
	width: 1000px;
	margin: 20px auto 0 auto;
	border-top: 1px solid #000;
}

.copy {
	float: left;
	margin-top: 5px;
	padding-left: 30px;
}

footer ul {
	padding-right: 50px;
	margin-top: 5px;
	float: right;
}

footer li {
	padding-left: 20px;
	float: left;
}

input[type="submit"] {
	webkit-appearance: none;
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	font: inherit;
	vertical-align: baseline;
	display: inline-block;
	cursor: pointer;
}

/* START INTROS STYLING */

.intro-select-user-type {
	width: 500px;
	margin: 150px auto 80px auto;
	text-align: center;
}

.intro-select-user-type p {
	font-size: 20px;
}

.skip-button {
	position: relative;
	float: right;
	margin-right: 100px;
	width: 75px;
	font-size: 20px;
}

.skip-button a {
	padding: 5px 20px;
}

.skip-button a:hover {
	background: #FFA8EF;
}
.sign-in {
	font-size: 20px;
	width: 100px;
	margin: 0 auto;
}
.sign-in a {
	padding: 20px;
	width: 100px;
}

.sign-in a:hover {
	background: #99FFB4;
}

.user-type-searcher,
.user-type-poster {
	width: 250px;
	float: left;
	padding: 30px 0 30px 0;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin: 20px 0 20px 0;
}

.user-type-searcher a,
.user-type-poster a {
	padding: 30px;
}

.user-type-searcher a:hover,
.user-type-poster a:hover {
	background: #7AF8FF;
}

.ask-to-sign-in {
	width: 250px;
	height: 100px;
	padding: 25px;
	border: 2px solid #000;
	border-radius: 5px;
	background: rgba(255, 151, 44, 0.8);
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 100px;
	left: 1000px;
}

.ask-to-sign-in p {
	padding-bottom: 25px;
}

.ask-to-sign-in a {
	display: inline-block;
	padding: 5px;
	font-weight: bold;
	border: 2px solid #000;
	border-radius: 5px;
}

/* START INTROS SEARCH FORM */

.intros-search-form {
	width: 700px;
	margin: 100px auto;
	text-align: center;
}

.intros-search-form p {
	font-size: 20px;
	margin: 20px;
}

.intros-search-form label {
	font-weight: 600;
}

.go-button {
	width: 75px;
	font-size: 25px;
	margin: 30px auto;
}

.go-button input[type="submit"] {
	padding: 5px 20px;
}

.go-button input[type="submit"]:hover {
	background: #99FFB4;
}

/* STRAT POST SHOW STYLING */
img {
	display: block;
	margin: auto;
}

.current-path {
	width: 1000px;
	margin: 20px auto 0 auto;
}

.category-details {
	float: left;
}

.post-show-buttons {
	width: 120px;
	float: right;
	font-weight: bold;
}

.watch-button {
	float: right;
}

.alt-view-buttons {
	float: right;
}


.container {
	width: 1000px;
	height: 480px;
	margin: 30px auto;
}

.users-container {
	width: 1000px;
	margin: 30px auto;
}

.form-container {
	width: 1000px;
	margin: 30px auto;
}

.form-container label {
	display: block;
}

.form-container input[type="text"] {
	display: block;
	border: 1px solid #000;
	border-radius: 2px;
	padding: 5px 10px;
}

.contact-info-show {
	float: left;
	width: 220px;
	padding-right: 29px;
	height: 480px;
	border-right: 1px solid #000;
}

.contact-info-show h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 5px 0; 
}

.details-show {
	height: 480px;
	float: left;
	width: 220px;
	padding-left: 29px;
	border-left: 1px solid #000;
}

.details-show h1 {
	font-weight: bold;
	font-size: 14px;
	margin: 10px 0 5px 0; 
}

.details-show table {
	border-collapse: collapse;
	margin: 10px 0 15px 0;
}

.details-show th {
	font-weight: 500;
	padding: 0 20px 10px 0;
	text-align: left;
	display: table-cell;
}

.details-show td {
	padding-right: 15px;
}

.fees {
	margin: 20px 0;
}

.fees strong {
	font-weight: bold;
}

.photos-show {
	float: left;
	width: 500px;
	height: 480px;
}

.post-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto 5px auto;
}

.main-photo-container {
	position: relative;
}

.thumbnail-container {
	position: absolute;
	top: 550px;
	margin: 10px auto;
	width: 400px;
}

.thumbnail {
	float: left;
	margin: 10px;
}

.thumbnail:hover {
	border: 2px solid #000;
	top: -4px;
}

/* HOUSING POST NEW/EDIT */

.form-header {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 30px;
}

.contact-info-form .input,
.title-category .input {
	float: left;
	padding: 5px 15px 0 0;
}

.contact-info-form input[type="text"] {
	width: 200px;
	border: 1px solid #000;
	border-radius: 2px;
	padding: 5px 10px;
}

.title-category {
	padding-top: 20px;
}

.title-category input[type="text"] {
	width: 500px;
}

.select-category {
	padding-top: 5px;
	float: left;
}

.select-category select {
	display: block;
}

.select-category label {
	padding-bottom: 5px;
}


.location {
	padding-top: 20px;
}

#input-specific-location {
	padding: 5px 10px;
	width: 250px;
}

#zip-code-input {
	padding: 5px 10px;
	width: 50px;
}

.select-region label{
	padding-top: 5px;
	padding-bottom: 5px;
}

.location .input {
	float: left;
	padding: 5px 15px 0 0;
}


.housing-poster-info {
	padding-top: 20px;
}

.housing-poster-info .input {
	float: left;
	padding: 20px 0 0 0;
}

.housing-poster-info label {
	display: block;
}

.housing-poster-info input[type="text"] {
	border: 1px solid #000;
	border-radius: 2px;
	padding: 5px 10px;
	width: 700px;
}

.select-lister-type {
	float: left;
	padding: 20px;
}
.select-lister-type > label {
	display: block;
	padding-bottom: 5px;
}

.form-body {
	float: left;
	padding-right: 30px;
}

.form-body > label {
	display: block;
	padding: 15px 0 5px 0;
}

.form-body > textarea {
	display: block;
	float: left;
	padding: 5px 10px;
	border: 1px solid #000;
	border-radius: 2px;
	width: 500px;
	height: 170px;
}

.space-details {
	width: 260px;
	float: left;
	padding-top: 20px;
}

.space-details .input {
	float: left;
	padding: 0 15px 10px 0;
}

.space-details input[type="text"] {
	width: 60px;
}

.other-options {
	float: left;
	padding-right: 500px;
}
.other-options .input {
	float: left;
	padding: 15px 25px 0 0;
}

.map-info-form {
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
}

.map-info-form .input{
	float: left;
	padding-right: 15px;
}

.image-upload-section {
	padding-top: 30px;
}

.image-upload-section label {
	padding-bottom: 5px;
}

.input-state input[type="text"] {
	width: 40px;
}

.input-street input[type="text"] {
	width: 300px;
}

.form-buttons {
	float: right;
	padding: 40px 60px 30px 0;
}

.form-buttons li {
	float: left;
}

.form-buttons input[type="submit"] {
	display: block;
	background: rgba(255, 151, 44, 0.8);
	padding: 10px 15px;
	border-radius: 3px;
}

.form-buttons a {
	padding: 10px 15px;
	display: block;
}


/* USER LISTINGS TABLE */

.users-container table {
	border-collapse: collapse;
}

.users-container h1 {
	padding-bottom: 20px	;
}

.users-container th {
	font-weight: bold;
	text-align: left;
	padding: 10px;
	margin-left: 10px;
	border-bottom: 1px solid #ccc;
}

.users-container td {
	text-align: left;
	padding: 10px 15px 0 10px;
	border-bottom: 1px solid #ccc;
}

.manage-buttons > ul > li {
	float: left;
	padding-right: 10px;
}

.non-user-password-input {
	float: left;
}

.non-user-password-input p {
	font-weight: bold;
	padding: 10px 0 20px 0;
}

.non-user-password-input label {
	padding-bottom: 5px;
}
