/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body, h1, h2, h3, ,h4, p, div, ul, li {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: inherit;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

input[type="text"],
input[type="submit"] {
	-webkit-appearance: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	color: inherit;
	font: inherit;
	width: auto;
}

body {
	font-family: sans-serif;
	background: #eee;
}

.home-list {
	background: #fff;
	width: 700px;
	margin: 20px auto;
	padding: 20px;
}

.home-list > ul {
	display: block;
	width: 110px;
	float: left;
}

.home-list > ul > li {
	font-size: 12px;
}

.post-form-section {
	width: 700px;
	margin: 20px auto;
	background: #fff;
	padding: 10px 20px;
	border: 5px solid #000;
	border-radius: 10px;
}

.input {
	margin: 20px 0;
}

.input > input {
	font-size: 12px;
	border: 2px solid #000;
	padding: 5px 10px;
	width: 250px;
	border-radius: 5px;
}

.input > label {
	display: block;
	padding: 0 0 5px 0;
}

.input-state > input {
	font-size: 12px;
	border: 2px solid #000;
	padding: 5px 10px;
	width: 25px;
	border-radius: 5px;
}

.input-city > input {
	font-size: 12px;
	border: 2px solid #000;
	padding: 5px 10px;
	width: 150px;
	border-radius: 5px;
}


.title-category > .input-title > label {
	display: inline;
}

.title-category > .input-title {
	width: 70%;
	float: left;
	margin-bottom: 0;
}

.title-category > #select-sub {
	margin: 40px auto;
}

.title-category > .input > #title {
	width: 90%;
}

.location > .input {
	float: left;
	margin-right: 20px;
}

.location > .select-region {
	float: left;
	margin: 40px auto 20px auto;
}

.location > .input > label {
	display: inline;
}

.body > label {
	display: block;
	margin: 30px auto 5px auto;
}

.body > textarea {
	width: 90%;
	height: 125px;
	border: 2px solid #000;
	font-size: 12px;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 20px;
}

.region-subcategory {
	margin: 0 auto;
	padding-top: 20px;
	padding: 20px;
}

.region-subcategory > select {
	margin: 0 auto;
}

#fees-input, #ad-poster-input {
	width: 90%;
}

.clear-fix {
	clear: both;
}