<!-- categories/index -->

<h1>Craigslist</h1>

<% @categories.each do |category| %>

<h4><%= link_to category.name, category_url(category) %></h4>

<ul>
	<% category.subcategories.each do |sub| %>
		<li>
			<%= link_to sub.name, subcategory_url(sub) %>
		</li>
	<% end %>
</ul>


<% end %>