<!-- categories/index -->

<h1>Craigslist</h1>

<br>
<%= link_to "Create a Post", new_posts_pick_cat_url%>
<br>

<div class="home-list">
		<% @categories.each do |category| %>
			
			<ul>
				<h4><%= link_to category.name, category_url(category) %></h4>
				
				<% category.subcategories.each do |sub| %>
					<li>
						<%= link_to sub.name, subcategory_url(sub) %>
					</li>
				<% end %>
			</ul>

		<% end %>
		
	<div class="clear-fix"></div>
</div>