<!-- categories/show -->

<h1><%= @category.name %></h1>

<ul>
	
	<li>Posts go here</li>
	<li>Posts go here</li>
	<li>Posts go here</li>
	<li>Posts go here</li>
	<li>Posts go here</li>
	<li>Posts go here</li>
</ul>

<%= link_to "Craigslist Home", root_url %>