<div class="intros-search-form">
	<form action="<%= housing_posts_url %>" method="get">
	
		<%= form_auth_token %>

		<p>I want to</p>
	
		<div class="intros-search-category">
		

				<label for="intro-rent">rent</label>
				<input type="checkbox" name="welcome_filters[category][]" value="rent" id="intro-rent">

				<label for="intro-share">share</label>
				<input type="checkbox" name="welcome_filters[category][]" value="share" id="intro-share">

				<label for="intro-sublet">sublet</label>
				<input type="checkbox" name="welcome_filters[category][]" value="sublet" id="intro-sublet">

				<label for="intro-buy">buy</label>
				<input type="checkbox" name="welcome_filters[category][]" value="buy" id="intro-buy">

		</div>
	
		<p>a</p>
	
		<div class="intros-search-housing-types">
		
			<label for="intro-apartment">apartment</label>
			<input type="checkbox" name="welcome_filters[housing_type][]" value="apartment" id="intro-apartment">
		
			<label for="intro-condo">condo</label>
			<input type="checkbox" name="welcome_filters[housing_type][]" value="condo" id="intro-condo">
		
			<label for="intro-cottage/cabin">cottage/cabin</label>
			<input type="checkbox" name="welcome_filters[housing_type][]" value="cottage/cabin" id="intro-cottage/cabin">
	
			<label for="intro-duplex">duplex</label>
			<input type="checkbox" name="welcome_filters[housing_type][]" value="duplex" id="intro-duplex">

			<label for="intro-loft">loft</label>
			<input type="checkbox" name="welcome_filters[housing_type][]" value="loft" id="intro-loft">
		
			<label for="intro-flat">flat</label>
			<input type="checkbox" name="welcome_filters[housing_type][]" value="flat" id="intro-flat">
		
			<label for="intro-house">house</label>
			<input type="checkbox" name="welcome_filters[housing_type][]" value="house" id="intro-house">
		
			<label for="intro-townhouse">townhouse</label>
			<input type="checkbox" name="welcome_filters[housing_type][]" value="townhouse" id="intro-townhouse">
	
		</div>

		<p>in</p>
	
		<div class="intros-search-regions">
		
			<label for="intro-manhattan">manhattan</label>
			<input type="checkbox" name="welcome_filters[region][]" value="manhattan" id="intro-manhattan">
		
			<label for="intro-brooklyn">brooklyn</label>
			<input type="checkbox" name="welcome_filters[region][]" value="brooklyn" id="intro-brooklyn">
		
			<label for="intro-queens">queens</label>
			<input type="checkbox" name="welcome_filters[region][]" value="queens" id="intro-queens">
		
			<label for="intro-bronx">bronx</label>
			<input type="checkbox" name="welcome_filters[region][]" value="bronx" id="intro-bronx">
		
			<label for="intro-staten-island">staten island</label>
			<input type="checkbox" name="welcome_filters[region][]" value="staten island" id="intro-staten-island">
		
			<label for="intro-long-island">long island</label>
			<input type="checkbox" name="welcome_filters[region][]" value="long island" id="intro-long-island">
		
			<label for="intro-new-jersey">new jersey</label>
			<input type="checkbox" name="welcome_filters[regions][]" value="new-jersey" id="intro-new-jersey">
		
			<label for="intro-westchester-co">westchester co</label>
			<input type="checkbox" name="welcome_filters[region][]" value="westchester co" id="intro-westchester-co">
		
			<label for="intro-fairfield-co">fairfield co, CT</label>
			<input type="checkbox" name="welcome_filters[region][]" value="fairfield co, CT" id="intro-fairfield-co">
		
		</div>

		<div class="go-button"><input type="submit" value="go"></div>
	</form>
</div>

<div class="skip-button">
	<%= link_to "skip", housing_posts_url %>
</div>