<div class="intro-select-user-type">
	
	<p>I'm here to</p>
	
	<div class="user-type-searcher">
		<%= link_to "find housing", intros_searcher_start_url %>
	</div>
	
	<div class="user-type-poster">
		<%= link_to "post housing", new_housing_post_url %>
	</div>
	
	<div class="clear-fix"></div>
	
	<% if !signed_in? %>
		<div class="sign-in">
			<%= link_to "sign in", new_session_url %>
		</div>
	<% end %>
</div>



<div class="skip-button">
	<%= link_to "skip", housing_posts_url %>
</div>