<label> title
	<input type="text" name="post[title]" placeholder="<%= @post.title %>">
</label>

<br>

<input type="text" name="some_name" value="" id="some_name">

<input type="text" name="post[specific_location]" placeholder="<%= @post.specific_location %>">