<div class="errors">
	<% if flash[:errors] %>
		<% flash[:errors].each do |error|  %>
			<p><%= error %></p>
		<% end %>
	<% end %>
	
	<% if flash[:notices] %>
		<% flash[:notices].each do |notice|  %>
			<p><%= notice %></p>
		<% end %>
	<% end %>
</div>